/*base*/
body {
    padding-top: 65px;
    background: linear-gradient(to right, #8BE4E4, #91D7F5, #82ECE7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  
#status-input form{
  width: 400px;
  margin: 15px auto;
  position: relative;
  align-content: center;
  padding: 8px;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 30px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}

#status-input form > h2{
  color: #2C3E50;
  font-family: Open Sans; 
  font-weight: bold;
  font-size: 25px;
}

#status-input form > .updatestatus-form-input, #status-input form > status-input-textarea{
    padding: 10px;
    border: 1px solid #ccc;
    align-content: center;
    border-radius: 30px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 20px;
}

#status-input form{
  width: 60%;
  align-content: center;
  margin: 15px auto;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 30px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 15px 30px;
  box-sizing: border-box;
  position: relative;
}

#status-input form > h2{
  color: #2C3E50;
  font-family: Open Sans; 
  font-weight: bold;
}

#status-input form > .updatestatus-form-input, #status-input form > .updatestatus-form-textarea{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 10px;
    align-content: center;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 20px;
}

#submit {
  width: 100px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: 60px;
  margin-left: 60px;
}

.flex-item {
  padding: 10px;
  flex-basis: 100%;
  width: 100%;
}

.display-picture {
  flex-basis: 30%;
  float: none; 
  margin-right: 0px; 
}

.name-status-date {
  padding-left: 50px;
  flex-basis:40%;
  margin-bottom: 15px;
  margin-left: 0px;
}

.author-name {
  font-family: Open Sans;
  font-size: 23px;
  font-weight: bold;
}

.status-message {
  font-family: Open Sans;
  margin-left: 0px;
  font-size: 17px;
  width: 100%;
  word-wrap: break-word;
}

.date-created {
  margin-left: 0px;
  color: black;
  margin-bottom: 10px;
}

#popupBoxPosition {
  top: 0; 
  left: 0; 
  position: fixed; 
  z-index: 10;
  width: 100%; 
  height: 120%;
  background-color: rgba(0,0,0,0.7); 
  display: none;
}
.popupBoxWrapper {
  width: 550px;
  margin: 250px auto; 
  text-align: left;
}
.popupBoxContent {
  background-color: #FFF; 
  padding: 15px;
}

.commentBtn{
  margin-left: 20px;
}

.flex-list {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.flex-list-item {
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  border-radius: 10px 10px 0 0;
}

.friend-list-item {
  text-align: left;
  background: #fff;
  position: relative;
  /*margin-bottom: 10px;*/
  margin-top: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.input-text {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  line-height: 40px;
  padding-left: 15px;
  font-size: 18px;
}

.input-text-inline-button {
  height: 50px;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  padding-left: 15px;
  font-size: 18px;
}

.inline-button {
  height: 50px;
  width: 20%;
  font-size: 18px;
  border-radius: 0px 5px 5px 0px;
  border: none
}

.text-white {
  color: #FFFFFF;
}

.text-black{
  color: black;
}

.divider {
  height: 1px;
  width:100%;
  display:block;
  margin: 10px 0;
  overflow: hidden;
  background-color: #606062;
}

.error {
    border-radius: 5px;
    padding: 10px;
    background-color: #f2dede; /* Red */
    color: #a94442;
    margin-bottom: 10px;
}
.flex-list-item-comment {
  text-align: center;
  vertical-align: middle;
  background: #ea5f4a;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 100px;
  height: 50%;
  right: 0px;
  position: absolute;
  cursor: pointer;
  z-index: 0;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.flex-list-item-comment {
  bottom: 0px;
}
.flex-list-item-delete {
  text-align: center;
  vertical-align: middle;
  background: red;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 100px;
  height: 50%;
  right: 0px;
  position: absolute;
  cursor: pointer;
  z-index: 0;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.flex-list-item-delete {
  bottom: 50px;
}

.comment-section{
  background: linear-gradient(to right, #0099ff 0%, #66ccff 100%);
  color: #fff;
  padding: 10px;
  font-size: 16px;
  /*width: 100px;
  height: 50%;*/
  right: 0px;
  /*position: absolute;*/
  cursor: pointer;
  z-index: 0;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0 0 10px 10px;
}

.comment-section h3 {
  padding-left: 60px;
}

.comment-block{
  padding-left: 120px;
  padding-right: 120px;
}

.comment-section-comment{
  margin-bottom: 10px;
}

.comment-section-form{
  padding-left: 120px;
  padding-right: 120px;
}

.comment-section-form label {
  color: rgb(58, 57, 57);
}

#form-add-comment {
  padding-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.input-comment{
  float: right;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .wrapper-page {
    display: block;
  }

  .flex-list-item-delete {
    object-position: top;
  }

  .wrapper-kiri {
    width: 100%;
    height: 100%;
  }

  .wrapper-kanan{
    width: 100%;
  }

  .wrapper-content {
    margin-top: 0px;
  }

  .friend-title {
    margin-top: 0px;
    padding-top: 10px;
  }

  .form-main {
    width: auto;
  }

  .form-comment{
    width: auto;
  }

  .flex-list-item-post{
    width: 65%;
  }

  .input-text {
    font-size: 14px;
  }

  .input-text-inline-button {
    font-size: 14px;
  }

  .inline-button {
    font-size: 14px;
  }
}
