<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'halaman-utama:index' %}">PPW x LinkedIn</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-right">
				<li><a onclick="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
			</ul>
			<ul class="nav navbar-right">
				<li><a href="{% url 'halaman-profile:index' %}"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
			</ul>
			<ul class="nav navbar-right">
				<li><a href="{% url 'halaman-forum:index' %}">Forum Lowongan</a></li>
			</ul>
		</div>
	</div>
</nav>