{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="rata-tengah">
            <div class="text-center">
                <h3>Find Job Information Here!</h3>       
            </div>
            <br>
        </div>
    </div>
</div>
<div class="text-center">
    <script type="in/Login"></script>
</div>

<script type="text/javascript">
    api_key: 81u03qfjmribz9
    authorize: true
    onLoad: onLinkedInLoad
</script>

<script type="text/javascript">
    
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to request the member's basic profile data
    function getProfileData() {
        IN.API.Raw("/people/~").result(onSuccess).error(onError);
    }

</script>

<!-- Print errors if any -->
{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
	<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
	<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}

{% block bar %}
{% include "response_lowongan.html" %}
{% endblock %}

<nav>
	{% if status.has_other_pages %}
	<ul class="pagination" style="justify-content: center; margin-top: 20px">
		{% if status.has_previous %}
		<li class="page-item"><a class="page-link" href="?page={{ forum.previous_page_number }}">&laquo;</a></li>
		{% else %}
		<li class="page-item disabled"><span class="page-link">&laquo;</span></li>
		{% endif %}
		{% for i in status.paginator.page_range %}
		{% if status.number == i %}
		<li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
		{% else %}
		<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
		{% endif %}
		{% endfor %}
		{% if status.has_next %}
		<li class="page-item"><a class="page-link" href="?page={{ forum.next_page_number }}">&raquo;</a></li>
		{% else %}
		<li class="page-item disabled"><span class="page-link">&raquo;</span></li>
		{% endif %}
	</ul>
	{% endif %}
</nav>

{% endblock %}
