{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Tugas 2 PPW">
    <meta name="author" content="{{author}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key: 81u03qfjmribz9
        onLoad: checkLoggedIn
        authorize: true
    </script>
    <title>
        Tugas 2 PPW by {{author}}
    </title>
</head>
<body>
    <header>
        {% block header %}
            {% include 'partials/header.html' %}
            <!-- Your Header Here -->
        {% endblock %}
    </header>
    <content>
        {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </content>
    <footer>
        {% block footer %}
            {% include 'partials/footer.html' %}
            <!-- Your Footer Here -->
            {% endblock %} 
    </footer>
<!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/profile.js' %}"></script>
</body>
</html>