{% extends "base.html" %}

{% block content %}
    <section name="status-input" id="status-input">
    	<div>
    		<form id="form" method="POST" action="{% url 'halaman-forum:add_status' %}">
    			<h2 class="text-center">Post your job vacation here!</h2>
    			<br>
    			{% csrf_token %}
    			{{ updatestatus_form.status }}
    			<br>
    			<input id="submit" type="submit" class="btn btn-lg btn-block btn-info center-block" value="Post">
    			<br>
    		</form>
    	</div>
    </section>
	<h3 style="text-align: center; font-family: Open Sans; font-weight: bold;">{{ company_name }}'s Posts</h3>
	<hr>
	<section name="status">
		<div class="container">
			<div class="flex">
				{% if status %}
					{% for data in status reversed %}
						<div class="flex-item">
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-1">
									<div class="display-picture">
										<img src="{{ company_imgURL }}" style="border-radius: 50%; display: block; margin: 0 auto" width="70px" height="70px">
									</div>
								</div>
								<div class="col-sm-9">
										<div class="author-name" style="font-family: Open Sans; font-weight: bold;">
											<a href="/halaman-profile/">{{ company_name }}</a>
										</div>
										<div class="status-message">
											{{ data.status }}
										</div>
										<div class="date-created" style="font-family: Open Sans; font-weight: bold;">
											{{ data.created_date }}
										</div>
								</div>
								<div class="col-sm-1"></div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="empty-message">
						<p style="font-weight: bold; font-size: 20px; margin-left: 20px;">You haven't posted anything. Start to post one!</p>
					</div>
					<br>
				{% endif %}
			</div>
		</div>
	</section>

	<br>
	<br>
	<br>
{% endblock %}