<div class="container-fluid job-list">
    <h1 class="text-center">Job Forums</h1>
    <div class="flex-list">
        {% if status %}
        {% for i in status  %}
            <div class="flex-list-item friend-list-item">
                <!-- kasih image disini -->
                <div class="flex-list-item-post">
                    <h3>Nama Perusahaan : {{ i.pengguna.nama }}</h3>
                    <h4>{{ i.title }}</h4>
                    <h4>{{ i.status }}</h4>
                    <h5>{{ i.created_date }}</h5>
                </div>
            </div>
            <div class="flex-list-item-comment-section">
                    <div class="comment-section">
                        <div class="comment-section-comment">
                            <h3>Comment</h3>
                            {% if i.comment_set.all %}
                                {% for comment in i.comment_set.all %}
                                    <div class="comment-block">
                                        <h4>{{comment.name}}</h4>
                                        <h5>{{comment.comment}}</h5>
                                        <h6>{{comment.created_date}}</h6>
                                        <hr>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="comment-section-form">
                            <form id="form-add-comment" action="{% url 'response-lowongan:add_comment' pk=i.id %}" method="POST" class="form-comment panel panel-default" style="color: black" >
                                <div class="form-group">
                                    {% csrf_token %}
                                    <label for="form-name" class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        {{ name_form }}
                                    </div>
                                    <label for="form-comment" class="col-sm-2 col-form-label">Tanggapan</label>
                                    <div class="col-sm-10">
                                            {{ comment_form }}
                                    </div>
                                    <div class="input-comment">
                                        <input id="submit" type="submit" class="btn" value="Submit" style="bottom: -10px">
                                    </div>
                                    <br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <br>
        {% endfor %}
        {% else %}
        {% endif %}
    </div>
</div>